<%= form_with(model: @task, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :body %>

    <%= f.text_field :body, class: "form-control" %>
  </div>

  <%= f.submit "Create task", class: "btn btn-block btn-outline-secondary" %>
<% end %>
